<div class="shell">
  <div class="shell__section header">
    <header class="shell__section header"></header>
  </div>

  <main class="shell__section content">
    <div ibmGrid>
      <div ibmRow class="mt-2 center">
        <div ibmCol>
          <img src="https://i.gifer.com/8RDg.gif" width="300" />
          <h1 class="mt-1">Hi there!</h1>
          <p class="mt-1">This website is still under construction, come back later 😉</p>
          <p class="mt-1">
            Follow me on <a href="https://github.com/maicongodinho" ibmLink>Github</a> in the
            meantime 😺
          </p>
          <img class="mt-1" src="https://i.gifer.com/WGrf.gif" width="100" />
        </div>
      </div>
    </div>
  </main>

  <div class="shell__section footer">
    <footer></footer>
  </div>
</div>
