/* You can add global styles to this file, and also import other style files */

@import '@carbon/themes/scss/themes';

@include carbon--theme($carbon--theme--g100);

@import '~carbon-components/scss/globals/scss/styles.scss';

@import '~carbon-components/scss/globals/scss/spacing';

html,
body {
  height: 100%;
}

.mt-1 {
  margin-top: carbon--mini-units(1);
}

.mt-2 {
  margin-top: carbon--mini-units(2);
}
